/*.THIS.slds-modal {
    width: 190%;
    left: -45%;
}
.THIS.slds-modal:focus {
    outline: none !important;
}
.THIS .slds-modal__content {
    min-height: 16rem;
}
.THIS .slds-modal__container{
    width:100%;
}*/
.THIS .layoutClass{
    border-bottom: 1px solid black;
}
@media only screen and (max-width: 2560px) and (min-width: 1920px){
	.THIS.mainDiv{
        height: 90vh !important;
        background: white !important;
    }
    .THIS .scrollable{
        height: 46rem;
    }
}
@media only screen and (max-width: 1920px) and (min-width: 1681px){
	.THIS.mainDiv{
        height: 87vh !important;
        background: white !important;
    }	   
}
@media only screen and (max-width: 1680px) and (min-width: 1661px){
	.THIS.mainDiv{
        height: 70vh !important;
        background: white !important;
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1441px){
	.THIS.mainDiv{
        height: 70vh !important;
        background: white !important;
    }
}
@media only screen and (max-width: 1440px) and (min-width: 1281px){
	.THIS.mainDiv{
        height: 70vh !important;
        background: white !important;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 1180px){
	.THIS.mainDiv{
        height: 50vh !important;
        background: white !important;
    }	    
}
@media only screen and (max-width: 1179px) and (min-width: 1080px){
	.THIS .inputBox{
        width: 90% !important;
    }
    .THIS .dropDownClass {
        width: 82% !important;
    }	    
}
@media only screen and (max-width: 1079px) and (min-width: 980px){
	.THIS.mainDiv{
        height: 70vh !important;
        background: white !important;
    }	    
}
@media only screen and (max-width: 979px) and (min-width: 720px){
	.THIS.mainDiv{
        height: 70vh !important;
        background: white !important;
    }	    
}
.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}