.THIS .slds-modal__container{
    margin: 115px auto;
    width: 50%;
    max-width: 40rem;
    min-width: 20rem;
    /*max-height: 35rem;*/
}

.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}