.THIS .mainBomDiv{
    overflow: auto;
}
.THIS .tableHeaderDiv{
    /* font-weight: 600; */
    padding: 5px;
    background: #fafaf9;
}

.THIS .groupHeaderDiv {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f3f3f3;
    font-family: 'Salesforce Sans', 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 5px;
    border-bottom-color: #dedbd7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.THIS .groupHeaderTotal{
    background-color: #f3f3f3;
    color: #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0;
    border: 0;
    padding: 5px;
    border-bottom-color: #dedbd7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-weight: bold;
}

.THIS .groupHeaderIcon{
    background-color: #f3f3f3;
    border-bottom-color: #dedbd7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.THIS .blankDiv{
    width: 30px;
}

.THIS .slds-gutters{
    margin-right:0 !important;
}
.THIS .textAreaCss{
    white-space: normal; 
    word-wrap: break-word;
}
.THIS .textAreaDiv{
    width: 200px;

}

.THIS .tableRow {
    background-color: #F3F3F3;
}
.THIS .groupHeaderDiv {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f3f3f3;
    font-family: 'Salesforce Sans', 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 5px;
    border-bottom-color: #dedbd7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}