.THIS .selected {
    background-color: rgba(229, 239, 247, 1) !important;
}
.THIS .button:focus {
    outline: none;
}
.THIS.slds-modal__container {
    margin: 0 auto;
    width: 42%;
    max-width: 42rem;
    min-width: 20rem;
} 
.THIS.slds-modal__content {
    margin-top: -16px;
}
.THIS.slds-file-selector_files .slds-file-selector__text{
    display: none;
}
.THIS.slds-file-selector__dropzone{
    border: none;
}
.THIS.tbody {
    overflow: hidden;
    text-overflow: 
}
.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}