.THIS .showErrorMessage{
    color: rgb(194, 57, 52) !important;
    display: block !important;
}
.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}