.THIS .slds-modal__container {
    width: 83% !important;
    max-width: 75rem !important;
    min-width: 20rem;
}
.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}