.THIS .slds-modal__container{
    margin: 115px auto;
    width: 50%;
    max-width: 40rem;
    min-width: 20rem;
    max-height: 40rem;
}
.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}
.THIS .slds-modal__container{
 /*   margin: 115px auto;
    width: 75%;
    max-width: 40rem;
    min-width: 60rem;
    max-height: 40rem;*/
    margin: 90px auto;
    width: 75%;
    max-width: 65rem;
    min-width: 20rem;
    height: 70rem !important;
}