.THIS .slds-table .slds-row-number:after {
    content: counter(none) !important ;
    display: none !important ;
}
/*.THIS .slds-table tbody td:hover span{
    display: inline-block !important;
}
.THIS .slds-table tbody tr:hover th  {
    background: rgba(27, 82, 151, 1.0) !important;
}*/

.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}
.THIS .slds-form-element__border-box{ 
    display: none !important;
}

.THIS .slds-truncate:hover{
    text-decoration-line: underline;
	
}
.THIS .onhoverCSS:hover{
    text-decoration-line: underline !important;
    text-decoration-color: #5c98e3;
}
/*.THIS .showRows{
      display: table-row;
 } */