.THIS table tr:nth-child(even) {
    background: rgb(243, 242, 242);
}
.THIS table tr:nth-child(odd) {
    background: white ;
}

.THIS .forceChatterBasePublisher :not(.PHONE) .cuf-content {
    padding: 0 0 !important;
}

.THIS .slds-table td {
    padding: .25rem .5rem;
    white-space: normal !important;
    position: relative;
    word-break: break-word;
}
.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}