.THIS .slds-modal__content {
    /*height: unset !important;*/
    /*max-height: unset !important;*/
}
.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .THIS .fixedFooter {
    bottom : 3.5rem !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .THIS .fixedFooter {
    bottom : 3.5rem !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 .THIS .fixedFooter {
    bottom : 3.5rem !important;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .THIS .fixedFooter {
    bottom : 3.6rem !important;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .THIS .fixedFooter {
    bottom : 4.4rem !important;
  }
}