.THIS .iconClr svg{
	fill:red;
}
.THIS .iconClrforapp svg{
	fill:green;
}
.THIS .bgm{
    background-color: #cd0f0f;
    width:90px;
    color: white;
    border-radius: 5px;
   border: 1px solid #f00a0a!important;
}
.THIS .flex-container {
    display: flex;
}
.THIS .btm{
        border: 1px solid lightgrey;
    border-radius: 5px;
}

.THIS .slds-textarea {
    height:80px;
}