.THIS .ui-draggable-helper {
 border: 1px dotted #000;
 padding: 6px;
 background: #fff;
 font-size: 1.2em;
}
.THIS a{
    color:black;
}
.THIS .multi{
    width: 300px;
}
.THIS .datewidth{
    width: 97% !important;
}
 
.THIS .calendarTable {
    border:1px solid black !important;
}
.THIS .tdl {
    text-align: left !important;
}
.THIS .tdc {
    text-align: center !important;
}
.THIS .sWrapTest {
    max-height:280px;
}
.THIS .slds-scope .slds-button_neutral .slds-scope .slds-button--neutral {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(217, 219, 221);
    -webkit-transition: border .15s linear;
    transition: border .15s linear;
    border-color: rgb(216, 221, 230);
    background-color: rgb(255, 255, 255);
}
 
.THIS .TableWrap {
    max-height:480px;
}

.THIS .slds-filters__item {
    padding: .25rem !important;
}
.THIS .slds-badge {
    font-size: .5rem !important;
    padding: .2rem .5rem !important;
}	
	
.THIS .badge--dev-ready{
background: #4bca81 !important;
}
.THIS .badge--dev-ready1{
background: #8edca2 !important;
  font-size: 0.7rem !important
}
.THIS .badge--dev-col{
background: #9090EE !important;
}
.THIS .forceSearchInputLookupDesktop {
  width:100% !important;  
}
.THIS .slds-modal__header{
 padding: .5rem !important;   
}
.THIS .uiInput {
padding: 2px 0px !important;    
}
.THIS .forceSearchInputLookupDesktopActionItem  {
    display:none;
}
.THIS .scrollbar{

	float: left;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.THIS .style-4::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}


.THIS .style-4::-webkit-scrollbar{
	width: 4px;
	background-color: #F5F5F5;
}

.THIS .style-4::-webkit-scrollbar-thumb{
	background-color: #000000;
	border: 2px solid #555555;
}

.THIS .resource-span{
    height:20px;
    width:20px;
    background-color:darkgrey;
}
.THIS .equipment-span{
    height:20px;
    width:20px;
	background-color:slategray;
}

.THIS .HeaderSticky thead th:nth-child(1){ 
        position: sticky;  top:0px; z-index:2;
        background:  #ffcc66; 
    }
.THIS table thead th {  
    background:  #ffcc66; 
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0; 
}
.THIS .grid-col--fixed-left {
  position: -webkit-sticky;
    /*position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;*/
    position: sticky; 
    left: 0;
   /* top: 0;*/
  z-index: 0;
   
}

.THIS .slds-scope .slds-m-around--small{
	margin-bottom: 0.75rem;
	margin: 0.01rem !important;
}
.THIS a {
    cursor: pointer;
    color: white !important;
}

.THIS .style-4::-webkit-scrollbar-thumb {
    background-color: gray;
    border: 2px solid #555555;
}