body{overflow-x: hidden;}
a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
	outline-offset: 0;
	text-decoration: none;
}

.dropNewEvent{
  
  font-size: 13px;
}
.popoverTitleCalendar{
  width: 100%;
  height: 100%;
  padding: 15px 15px;
 
  font-size: 13px;
  border-radius: 5px 5px 0 0;
}
.popoverInfoCalendar i{
  font-size: 14px;
    margin-right: 10px;
    line-height: inherit;
    color: #d3d4da;
}
.popoverInfoCalendar p{
  margin-bottom: 1px;
}
.popoverDescCalendar{
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #E3E3E3;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.popover-title {
    background: transparent;
    font-weight: 600;
    padding: 0 !important;
    border: none;
}
.popover-content {
    padding: 15px 15px;
  
    font-size: 13px;
}
.inputModal{
  width: 65%;
  margin-bottom: 10px;
}
#contextMenu {
  position: absolute;
  display:none;
  z-index: 2;
}
#contextMenu .dropdown-menu{
  border: none;
}
.opacityWeekend{
  background-color: #f4f4fb !important;
}
.fc-avatar-image{
    top: 4px;
    left: 20px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}
.fc-avatar-image img{
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.fc-avatar-image:before{
    content: none !important;
}
.fc-day-header{
  text-transform: uppercase;
  font-size: 13px;

  font-weight: 500;
  color: #fff;
  background-color: #3a8ed8;
  padding: 11px 0px !important;
  text-decoration: none;
}
.fc-day-header a{
  text-decoration: none !important;
  color: #fff;
}
.fc-center h2{
   text-transform: uppercase;
  font-size: 18px;
 
  font-weight: 500;
  color: #505363;
  line-height: 32px;
}
.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding-bottom: 1em;
    padding-top: 1em;
}
.fc-day{position: relative;
  transition: all 0.2s linear;
}

.fc-day:hover{
  background:#EEF7FF;
  cursor: pointer;
  transition: all 0.2s linear;
}
.fc-highlight {
    background: #EEF7FF;
    opacity: 0.7;
}
.fc-time-grid-event.fc-short .fc-time:before {
    content: attr(data-start);
    display: none;
}
.fc-time-grid-event.fc-short .fc-time span {
    display: inline-block;
}
.fc-time-grid-event.fc-short .fc-avatar-image {
    display: none;
    transition: all 0.3s linear;
}
.fc-time-grid .fc-bgevent, .fc-time-grid .fc-event {
    border: 1px solid #fff !important;
}
.fc-time-grid-event.fc-short .fc-content {
    padding: 4px 20px 10px 22px !important;
}
.fc-time-grid-event .fc-avatar-image{
    top: 9px;
}
.fc-event-vert {
  min-height: 22px;
}
.fc .fc-axis {
    vertical-align: middle;
    padding: 0 4px;
    white-space: nowrap;
    font-size: 10px;
    color: #505362;
    text-transform: uppercase;
    text-align: center !important;
    background-color: #fafafa;
}
.fc-unthemed .fc-event .fc-content, .fc-unthemed .fc-event-dot .fc-content {
    padding: 10px 20px 10px 22px;
    font-family: 'Roboto', sans-serif;
    margin-left: -1px;
    height: 100%;
}
.fc-event{
    border: none !important;
}
.fc-day-grid-event .fc-time {
    font-weight: 700;
      text-transform: uppercase;
}
.fc-unthemed .fc-day-grid td:not(.fc-axis).fc-event-container {
    padding: 0.2rem 0.5rem;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #DADFEA;
}
.fc-ltr .fc-h-event .fc-end-resizer, .fc-ltr .fc-h-event .fc-end-resizer:before, .fc-ltr .fc-h-event .fc-end-resizer:after, .fc-rtl .fc-h-event .fc-start-resizer, .fc-rtl .fc-h-event .fc-start-resizer:before, .fc-rtl .fc-h-event .fc-start-resizer:after {
    left: auto;
    cursor: e-resize;
    background: none;
}
.colorAppointment :before {
    
    content: none;
   
}

.fc-prev-button{
	background: #337ab7;
}	
.fc-icon{
	color: white;
}
select.filter{
  width: 500px !important;
}

.popover  {
    background: #fff !important;
    color: #2E2F34;
  border: none;
  margin-bottom: 10px;
}

/*popover header*/
.popover-title{
    background: #F7F7FC;
    font-weight: 600;
    padding: 15px 15px 11px ;
    border: none;
}

/*popover arrows*/
.popover.top .arrow:after {
  border-top-color: #fff;
}

.popover.right .arrow:after {
  border-right-color: #fff;
}

.popover.bottom .arrow:after {
  border-bottom-color: #fff;
}

.popover.left .arrow:after {
  border-left-color: #fff;
}

.popover.bottom .arrow:after {
  border-bottom-color: #fff;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.fc-icon-print::before{
  font-family: 'Material Icons';
  content: "\e8ad";
  font-size: 24px;
}
.fc-printButton-button{
 display: none;
}

 .fc button .fc-icon{color: #337ab7;}
 .fc-state-default{box-shadow: none;background-image: none;background: #fff;}
 .fc-toolbar .fc-left{display: none;}
 .panel-default{margin-bottom: 0;border: none;box-shadow: none;}
 .select2-container, select.filter{width: 100% !important}
 .con-box{float: left;
    width: 60%;
    position: absolute;
    left: 40px;
    top: 84px;}
    label{font-size: 13px;}
    .con-box .col{display: inline-block;vertical-align: middle;margin-right: 20px;}
    .con-box .col:last-of-type{margin-right: 0;}
    .col .input-group{display: inline-block;
    width: 150px;}
    .select2-container--default .select2-selection--single{border: 1px solid #e6e6e6;}
    .fc-toolbar.fc-header-toolbar {
		margin-bottom: 10px;
        padding-top: 0px;
        background: #f8f8f8;
	}
    .fc-center{padding-left: 130px;}
    .select2-container .select2-selection--single{height: 2.1em;}
    .fc-toolbar button:focus {
    z-index: 5;
    border-color: #1b5297 !important;
    outline: #1b5297;
    background: #1b5297;
    color: #fff;
    text-shadow: none;
}
.fc-day-top{position: relative;}
.btn-click{color: #1b5297;
    z-index: 99999;
    position: absolute;
    right: 25px;
    top: 4px;
    font-size: 15px;
    display: inline-block !important;}
.btn-click:hover{color: #1b5297;;}
.fc-day-top.fc-other-month{opacity: 1;}
td{text-align: center;}
.fc-toolbar .fc-right h2{font-size: 15px;}
.fc-toolbar .fc-right {font-size: 10px;}

/*.fc-row .fc-content-skeleton, .fc-row .fc-highlight-skeleton{z-index: -1 !important}*/
.fc-day{cursor: default;}
.modal-title{display: inline-block;}

.modal-content .modal-header button:focus{outline: none;}