.THIS .groupHeader {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #fafaf9;
    font-family: 'Salesforce Sans', 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    color: #6b6d70;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 10px 15px 5px;
    border-bottom-color: #dedbd7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 1.5;
}

.THIS .fullWidth {
    width: 100%;
}

.THIS .slds-icon_container_circle {
    padding: 0px !important;
    background-color: transparent !important;
}

.THIS .iconStyle {
    transform: rotate(180deg) !important;
    background-color: transparent !important;
}

.THIS .slds-icon-text-default {
    fill: rgba(27, 82, 151, 1.0);
}

.THIS .slds-page-header {
    padding: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.THIS .iconStyle svg {
    fill: rgba(27, 82, 151, 1.0);
    color: rgba(27, 82, 151, 1.0);
    width: 1rem;
    height: 1rem;
    background-color: transparent !important;
    transform: rotate(180deg) !important;
}


.THIS .favIconStyle {
    transform: rotate(180deg) !important;
    background-color: transparent !important;
}


.THIS .favIconStyle svg {
    fill: #3f4042 !important;
    color: #3f4042 !important;
    width: 1.4rem;
    height: 1.4rem;
    background-color: transparent !important;
    transform: rotate(180deg) !important;
}

.THIS .divHeight {
    height: 200px !important;
}

.THIS .fontSize {
    font-size: 14px !important;
}

.THIS slds-card__header,
.THIS slds-grid {
    display: none !important;
}

.THIS .cardCss {
    background: var(--lwc-pageHeaderColorBackground, rgb(243, 242, 242));
            padding-top: 15px!important;
            padding-bottom: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .THIS .custom-loading-text {
            transform: rotate(-90deg);
            position: absolute;
            top: -0.5rem;
            left: 1rem;
            white-space: nowrap;
            font-size: 20px;
        }
        .THIS .iconClr svg{
            fill:grey;
        }
        
        .THIS .iconClr12 svg{
            fill:red;
        }