.THIS .selected {
    background-color: #ddd !important;
}
.THIS .button:focus {
    outline: none;
    background: white; 
    border: none;
}

.THIS .outputClass{
    cursor: pointer;
}
.THIS.no-padding{
			margin-left: -15px;
			
		}
.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}