.btmodal_100 .modal-container {
	width: 100% !important;
	max-width: 100rem !important;
}

.btmodal_90 .modal-container {
	width: 100% !important;
	max-width: 90rem !important;
}

.btmodal_80 .modal-container {
	width: 100% !important;
	max-width: 80rem !important;
}

.btmodal_70 .modal-container {
	width: 100% !important;
	max-width: 70rem !important;
}

.btmodal_60 .modal-container {
	width: 100% !important;
	max-width: 60rem !important;
}

.btmodal_50 .modal-container {
	width: 100% !important;
	max-width: 50rem !important;
}

.btmodal_40 .modal-container {
	width: 100% !important;
	max-width: 40rem !important;
}
