.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}
.THIS .myUniqueClass svg {
width: .75rem;
height: .75rem;
fill:red;

}
.THIS .myclass {

border-bottom: 1px solid;

}