.THIS lightning-icon.some-indicator {
    background-color: #006DCC;
    width: 2rem;
    height: 2rem;
}

.THIS lightning-icon.some-indicator>lightning-primitive-icon>svg>use {
    fill: white;
    background-color: #006DCC;
    width: 2rem;
    height: 2rem;
}

.THIS .slds-form-element__icon {
    display: none !important;
}

.THIS .cardbody {
  padding-top: 10px;
}

.THIS .card-header {
  padding: 0px;
    margin : 0px
}

.THIS .slds-form-element__label {
    margin-top: 0px;
    /* display : none;
        visibility : hidden;*/
}

.THIS .caption,
.THIS .th,
.THIS .td {
    text-align: right;
}

.THIS .customCheckBoxCss {
    margin-top: 15px !important;
    margin-left: 5px !important;
}

.THIS .custom-loading-text {
    transform: rotate(-90deg);
    position: absolute;
    top: -0.5rem;
    left: 1rem;
    white-space: nowrap;
    font-size: 20px;
}